<div class="card" *ngIf="orders">
    <div class="card-header no-radius">
        <div class="row rowfirst">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <strong>
                    Bill No. {{ ticket ? '#' + ticket?.TicketId : '' }}
                </strong>
            </div>
        </div>
            <div class="row rowsecond">
                <div class="col-md-6 col-sm-6 col-xs-6 text-center bordering">
                    <strong>
                        {{ selectedCustomerId ? 'Cust#: ' + (customer$ | async)?.CustomerName : 'Table: ' + table ? table.Name : '' }}
                    </strong>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-center borderingsecond" >
                    <strong>
                        Status: {{ orders.length ? orders[0].OrderStatus : 'Un Settled' }}
                    </strong>
                </div>
            </div>
    </div>
    <div class="card-sub-header no-radius">
        <div class="row">
            <table border="1" class="tablefirst">
                <tr>
                    <td>
                        <strong>Item</strong>
                    </td>
                    <td>
                        <strong>Qty</strong>
                    </td>
                    <td>
                        <strong>Unit (Rs.)</strong> 
                    </td>
                    <td>
                        <strong>Amount (Rs.)</strong>
                    </td>
                </tr>
            </table> 
        </div>
    </div>
    <div class="card-body orders__container scrollbar" id="style-2">
        <scrollbar>
            <div class="order-item" *ngFor="let order of orders">
                <table border="1" class="tablethird">
                    <tr>
                        <td>
                            <strong>Order No: {{ order.OrderNumber }}, {{ order.UserId + '-' }} {{ order.OrderOpeningTime }}</strong>
                        </td>
                        </tr>
                </table>
                    <div class="row order" *ngFor="let item of order.OrderItems" [ngClass]="{
                        'active': item.IsSelected,
                        'submitted': item.Tags.indexOf('Submitted') !== -1,
                        'void': item.IsVoid
                    }" (click)="selectOrderItem.emit(item)">
                        <div class="col-md-12">
                            <table border="1" class="tablemiddle">
                                <tr>
                                    <td>
                                        <span>
                                           {{ getProductById(products,item.ItemId)?.Name }}
                                            <br />
                                            <small>{{ item.Tags.join(', ') }}</small>
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{ item.Qty }}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                           {{CurrentUnitPrice(item.UnitPrice)}}
                                        </span>
                                    </td>
                                    <td>
                                     {{ProductPrice(item.UnitPrice, item.Qty)}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
    </div>
        </scrollbar>
    </div>
    <div class="card-sub-header carding">
        <div class="row">
            <table border="1" class="cardingtable">
                <tr>
                    <td>
                        <small><strong>Order opening time:</strong></small>
                    </td>
                    <td>
                        <div class="row"><small>{{ getDate(ticket?.TicketOpeningTime) }}</small></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <small><strong>Last Order time:</strong></small>
                    </td>
                    <td>
                        <div class="row"><small>{{ getLastOrderTime(orders) }}</small></div>
                    </td>
                 </tr>
                 <tr style="width:100%;">
                    <td>
                  
                        <small *ngIf="ticket?.PaymentHistory.length">Last Payment time:</small>

                    </td>
                     <td>
                         <div *ngIf="ticket?.PaymentHistory.length" class="row"><small>{{ getLastPaymentTime(ticket) }}</small></div>
                     </td>
                </tr>
            </table>
           
        </div>
    </div>
    <div class="order-footer">
        <div class="row">
            <table  border="1" class="tablefourth">
                <tr>
                    <td>Ticket Total:</td>
                    <td> Rs. {{ calculateSum().toFixed(2) }}</td>
                </tr>
                <tr>
                    <td>Discount: </td>
                    <td>Rs. {{ calculateDiscount() }}</td>
                </tr>
                <tr>
                    <td>Service Charge:</td>
                    <td>Rs. {{ calculateServiceCharge() }}</td>
                </tr>
                <tr>
                    <td>VAT (13%): </td>
                    <td>Rs. {{ calculateVat() }}</td>
                </tr>
                <tr>
                    <td>Grand Total:</td>
                    <td>Rs. {{ getGrandTotal() }}</td>
                </tr>
                <tr>
                    <td>Balance: </td>
                    <td>Rs. {{ getFinalBalance() }}</td>
                </tr>
            </table>
        </div>
        <div class="row" *ngIf="ticket?.PaymentHistory.length">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <strong class="pull-left">Payment Total: </strong>
                        <strong class="pull-right">Rs. {{ getTotalCharged(ticket).toFixed(2) }} </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <dl class="dl-horizontal" *ngFor="let pay of ticket.PaymentHistory" style="color:green">
                            <dt>{{ getDate(pay.DateTime) }}</dt>
                            <dd>{{ pay.PaymentMode }} &nbsp; Rs. {{ pay.AmountPaid.toFixed(2) }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row handler-section">
            <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
                <a routerLink="/pos/settle">
                    <div class="text-center btn btn-successs">
                        <span class="text-center"> Settle </span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                <div (click)="close()" class="text-center btn btn-dangerr">
                    <span class="text-center"> Close </span>
                </div>
            </div>
        </div>
    </div>
</div>