
<aside class="main-sidebar" >
    <section class="sidebar fixed" style="height:98vh; overflow-y:scroll">
     <ul class="sidebar-menu tree" data-widget="tree"  *ngFor="let item of items" >
            <li class="treeview mb-1" [class.group]="item.group" [style]="item.css.background-color">
                <a   *ngIf="item.children; else elseBlockk">
                    <i class="text-danger"></i> <span>{{item.title}}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ng-template #elseBlockk>

                    <a (click)=open(item.link) >
                        <i class=""></i> <span>{{item.title}}</span>
                        <span class="pull-right-container">
                            
                        </span>
                    </a>
                </ng-template>
                    <ul class="treeview-menu second " data-widget="second">
                        <div  *ngFor="let child of item.children" >
                        <li class="treeview">
                            <a href="#" *ngIf="child.children; else elseBlock">
                            <i class=""></i><span>{{child.title}}</span><span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span></a>
                            <ng-template #elseBlock>
                                <a  (click)=open(child.link)>
                                    <i class=""></i> <span>{{child.title}}</span>
                                    <span class="pull-right-container">
                                        
                                    </span>
                                </a>
                            </ng-template>
                            <ul class="treeview-menu">
                                <div  *ngFor="let chil of child.children">
                                    <a (click)=open(chil.link)>
                                <li class="treeview">
                                    
                                    <i class=""></i><span>{{chil.title}}</span><span class="pull-right-container">
                                        <i class=""></i>
                                    </span>
                                    
                                </li>
                            </a>
                               
                                
                                </div>
                                
                            </ul>

                        </li>
                       
                        
                        </div>
                        
                    </ul>

            </li>
        </ul>

    </section>
    
</aside>

<style>
/* .treeview{
    padding-top:3px;
    padding-bottom:3px;
    border-bottom:1px solid rgba(255,255,255,.1)
} */
.group{
    border:'none';
    background-color:'white';
    font-size:"1.2em";
    color:"blue";
    letter-spacing:".1em"
}


</style>
