<div class='panel panel-primary'>
    <div class="panel-heading">
       <h2>Group Ledger</h2> 
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
               
                <div class="row firstrow">
                    <div class="col-md-3">
                        <div (click)="addAccType()" style="cursor: pointer">
                            <span>
                                <img src="../../../../assets/images/Add.png"/>
                            </span>
                            &nbsp;&nbsp;Add Group Ledger
                        </div>
                    </div>
                    <div class="col-md-6 pull-right marme">
                      <button *ngIf='accountTypes && accountTypes.length' class="btn btn-primary pull-right" (click)="exportTableToExcel('GroupLedgerTable')"> Export</button>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf='accountTypes && accountTypes.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table id="GroupLedgerTable"  *ngIf='accountTypes && accountTypes.length'>
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>UnderGroup Ledger</th>
                        <th>Nature Of Group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accountType of accountTypes">
                        <td>{{accountType.Name}}</td>
                        <td>{{accountType.UnderGroupLedger}}</td>
                        <td>{{accountType.NatureofGroup}}</td>
                        <td class="export-no-display">
                            <span class="firstimg">
                                <img src="../../../../assets/images/Edit.png" (click)="editAccType(accountType.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../../../assets/images/Delete.png" (click)="deleteAccType(accountType.Id)" height="32" width="32" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(accTypeFrm)" [formGroup]="accTypeFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
               <i class="fa fa-times fa-design"></i>
            </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Group Name:</label>
                                <input type="text" class="form-control" placeholder="GroupName" formControlName="Name">
                           <div class="alert alert-danger" *ngIf="accTypeFrm.get('Name').hasError('required') && formSubmitAttempt">
                                Group Name is required
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Under GroupLedger</label>
                                <select class="form-control" placeholder="UnderGroupLedger" formControlName="UnderGroupLedger">
                                    <option value="0"></option>
                                    <option *ngFor="let accountTypes of accountTypes" value={{accountTypes.Id}}>{{accountTypes.Name}}</option>
                                </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Nature of Group</label>
                                <select class="form-control" placeholder="NatureofGroup" formControlName="NatureofGroup">
                                    <option>Assets</option>
                                    <option>Liabilities</option>
                                    <option>Income</option>
                                    <option>Expenses</option>
                                </select>
                        </div>
                </div>
                <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Default Filter Type: </label>
                                    <select class="form-control" placeholder="DefaultFilterType" formControlName="DefaultFilterType">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">WorkingRule: </label>
                                    <select class="form-control" placeholder="WorkingRule" formControlName="WorkingRule">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                            </div>
                           <div class="form-group col-md-4">
                                <label class="control-label">Sort Order: </label>
                                    <select class="form-control" placeholder="SortOrder" formControlName="SortOrder">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                        </div>
                </div>
                <hr>
                <div class="row">
                         <div class="col-md-4">
                            <label class="control-label col-md-10">
                                Is BillwiseOn
                            </label>
                            <input type="checkbox" class="largerCheckbox" name="ISBILLWISEON" ng-model="grpLedgerFrm.ISBILLWISEON" formControlName="ISBILLWISEON">
                        </div>
                         <div class="col-md-4">
                            <label class="control-label col-md-10">
                                Is Revenue
                            </label>
                            <input type="checkbox" class="largerCheckbox" name="ISREVENUE" ng-model="grpLedgerFrm.ISREVENUE" formControlName="ISREVENUE">
                        </div>
                        <div class="col-md-4">
                            <label class="control-label col-md-10">
                                Is Addable
                            </label>
                            <input type="checkbox" name="ISADDABLE" ng-model="grpLedgerFrm.ISADDABLE"  class="largerCheckbox" formControlName="ISADDABLE">
                        </div>
                        <div class="col-md-4">
                            <label class="control-label col-md-10">
                                Is Condensed
                            </label>
                            <input type="checkbox" name="ISCONDENSED" ng-model="grpLedgerFrm.ISCONDENSED" class="largerCheckbox" formControlName="ISCONDENSED">
                        </div>
                        <div class="col-md-4">
                           <label class="control-label col-md-10">
                               AffectsStock
                           </label>
                           <input type="checkbox" name="AFFECTSSTOCK" ng-model="grpLedgerFrm.AFFECTSSTOCK" class="largerCheckbox" formControlName="AFFECTSSTOCK">
                       </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            SortPosition
                        </label>
                            <input type="checkbox" name="SORTPOSITION" ng-model="grpLedgerFrm.SORTPOSITION" class="largerCheckbox" formControlName="SORTPOSITION">
                     </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            DebitCredit BalanceReporting
                        </label>
                            <input type="checkbox" name="DebitCreditBalanceReporting" ng-model="grpLedgerFrm.DebitCreditBalanceReporting" class="largerCheckbox"
                                   formControlName="DebitCreditBalanceReporting" />
                      </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Used for Calculation
                        </label>
                            <input type="checkbox" name="UsedforCalculation" ng-model="grpLedgerFrm.UsedforCalculation" class="largerCheckbox" formControlName="UsedforCalculation" />
                       </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Group Sub Ledger
                        </label>
                        <input type="checkbox" name="GroupSubLedger" ng-model="grpLedgerFrm.GroupSubLedger" class="largerCheckbox" formControlName="GroupSubLedger">
                       </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Purchase InvoiceAllocation
                        </label>
                        <input type="checkbox" name="PurchaseInvoiceAllocation" ng-model="grpLedgerFrm.PurchaseInvoiceAllocation" class="largerCheckbox"
                                   formControlName="PurchaseInvoiceAllocation">
                       </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Is Cost Centre On
                        </label>
                            <input type="checkbox" name="ISCOSTCENTRESON" ng-model="grpLedgerFrm.ISCOSTCENTRESON" class="largerCheckbox" formControlName="ISCOSTCENTRESON">
                      </div>
                       
                      <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Is Demmed Positive
                        </label>
                            <input type="checkbox" name="ISDEEMEDPOSITIVE" ng-model="grpLedgerFrm.ISDEEMEDPOSITIVE" class="largerCheckbox" formControlName="ISDEEMEDPOSITIVE">
                       </div>
                       <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Affects GrossProfit
                        </label>
                            <input type="checkbox" name="AFFECTSGROSSPROFIT" ng-model="grpLedgerFrm.AFFECTSGROSSPROFIT" class="largerCheckbox" formControlName="AFFECTSGROSSPROFIT">
                      </div>
                      <div class="col-md-4">
                        <label class="control-label col-md-10">
                            Track Negative Balances
                        </label>
                            <input type="checkbox" name="TRACKNEGATIVEBALANCES" ng-model="grpLedgerFrm.TRACKNEGATIVEBALANCES" class="largerCheckbox" formControlName="TRACKNEGATIVEBALANCES">
                      </div>
                </div>
                <div class="row footermodal">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger pull-right" [disabled]="buttonDisabled" (click)="reset(); modalRef.hide();">Cancel</button>
                    </div>
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                        <button type="submit" [disabled]="accTypeFrm.invalid" class="btn btn-success pull-left"> {{modalBtnTitle}}</button>
                    </div>
                </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>