
<ul *ngFor="let item of items">
    <li (click)="showList">{{item.title}}</li >
    
    <ul *ngFor="let child of item.children" class="bg-primary">
        <li class="text-danger">{{child.title}}</li>
       <div *ngIf="child.children">
           
           <ul *ngFor="let chil of child.children">
            <li class="text-warning bg-secondary">{{chil.title}}</li>
            <div *ngIf="chil.children">
                <ul *ngFor="let chi of chil.children"></ul>
                <li class="text-success bg-dark">{{chi.title}}</li>
            </div>
        </ul>
       </div>
        
    </ul>
   
</ul>