<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h2>Ledger's</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div style="padding-bottom:10px">
                <div class="row firstrow">
                    <div class="col-md-6">
                        <div (click)="addAccounts()" style="cursor: pointer">
                            <span>
                                <img src="../../../../assets/images/Add.png"/>
                            </span>
                           &nbsp;&nbsp; Add Ledger's
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accounts && accounts.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('ledgersTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accounts && accounts.length' class="btn btn-primary pull-left" (click)="download()"> Download</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../../../assets/images/loading.gif" width="32" height="32" /> 
                Loading...
            </div>
            <div *ngIf='accounts && accounts.length==0' class="alert alert-info" role="alert">No record found!</div>

            <table id="ledgersTable"  *ngIf='accounts && accounts.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{account.Name}}</td>
                        <td class="export-no-display text-center">
                            <span class="firstimg">
                                <img src="../../../../assets/images/Edit.png" (click)="editAccounts(account.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../../../assets/images/Delete.png" (click)="deleteAccounts(account.Id)" height="32" width="32" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>

</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(accountLedgerFrm)" [formGroup]="accountLedgerFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
               <i class="fa fa-times fa-design"></i>
            </button>
        </div>
        <div class="modal-body">
                    <div class="tab-v1">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a href="#Ledger" class="nav-link active" data-toggle="tab">Ledger</a>
                            </li>
                            <li class="nav-item">
                                <a href="#Taxation" class="nav-link" data-toggle="tab">Taxation</a>
                            </li>
                            <li class="nav-item">
                                <a href="#Settings" class="nav-link" data-toggle="tab">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a href="#Address" class="nav-link" data-toggle="tab">Address</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <br />
                            <div class="tab-pane active" id="Ledger">
                                <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Name</label>
                                                <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                                                <div class="alert alert-danger" *ngIf="accountLedgerFrm.get('Name').hasError('required') && formSubmitAttempt">
                                                    Name is required
                                                </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                               <label class="control-label">Account Type</label>
                                               <ngx-select-dropdown (searchChange)="searchChange($event)" formControlName="AccountTypeId" [config]="config" [options]="acctype"></ngx-select-dropdown>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Amount</label>
                                                <input type="number" name="Amount" ng-model="settingFrm.Amount" class="form-control" formControlName="Amount" />
                                       </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label"></label><br/>
                                        <select class="form-control" formControlName="entityLists">
                                            <option *ngFor="let entityList of entityLists" [ngValue]="entityList.name">{{ entityList.name }}</option>
                                        </select>
                                        <div *ngIf="accountLedgerFrm.get('entityLists').hasError('required') && formSubmitAttempt" class="alert alert-danger">
                                            Select Dr/Cr
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-6 styleinput">
                                        
                                            <label class="control-label col-md-8">Inventory values are Affected By ?</label>
                                            <div class="col-md-2 pull-right">
                                                <input class="largerCheckbox" type="checkbox" name="InventoryValue" ng-model="masterLedgerFrm.InventoryValue" formControlName="InventoryValue"
                                                />
                                            </div>
                                    
                                    </div>
                                    <div class="col-md-6 styleinput">
                                            <label class="control-label col-md-8">
                                                Maintain balances bill by bill
                                            </label>
                                            <div class="col-md-2 pull-right">
                                                <input  class="largerCheckbox" type="checkbox" name="MaintainBilByBill" ng-model="masterLedgerFrm.MaintainBilByBill"  formControlName="MaintainBilByBill"
                                                />
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Taxation">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                            <label class="control-label">Tax Classification Name</label>
                                                <select class="form-control" placeholder="TaxClassificationName" formControlName="TaxClassificationName">
                                                    <option value="0"></option>
                                                </select>
                                    </div>
                                   <div class="col-md-6 form-group">
                                            <label class="control-label">Tax Type</label>
                                                <select class="form-control" placeholder="TaxType" formControlName="TaxType">
                                                    <option value="0"></option>
                                                </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                            <label class="control-label">Tax Rate</label>
                                                <select class="form-control" placeholder="TaxRate" formControlName="TaxRate">
                                                    <option value="0"></option>
                                                </select>
                                    </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Nature of Purchase</label>
                                                <select class="form-control" placeholder="NatureOfPurchase" formControlName="TraderLedNatureOfPurchase">
                                                    <option value="0"></option>
                                                </select>
                                        </div>
                                    <div class="form-group col-md-6">
                                            <label class="control-label">TDS Deductee Type</label>
                                                <select class="form-control" placeholder="TDSDeducteeType" formControlName="TDSDeducteeType">
                                                    <option value="0"></option>
                                                </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                            <label class="control-label">TDS Rate Name</label>
                                                <select class="form-control" placeholder="TDSRateName" formControlName="TDSRateName">
                                                    <option value="0"></option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Address">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"> Address</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Address" formControlName="Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Street</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="Street" formControlName="Street" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">City</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="City" formControlName="City" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">District</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="District" formControlName="District">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Pan / Vat No.</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="PanNo" formControlName="PanNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telephone</label>
                                            <div class="col-md-9" style="margin-bottom: 10px;">
                                                <input type="text" class="form-control" placeholder="Telephone" formControlName="Telephone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Email" formControlName="Email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Settings">
                                <div class="row">
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                            Bill Wise On
                                            </label>
                                            <input type="checkbox" class="largerCheckbox" name="IsBillWiseOn" ng-model="settingFrm.IsBillWiseOn" formControlName="IsBillWiseOn" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Cost Centres On
                                            </label>
                                                <input type="checkbox" class="largerCheckbox"  name="ISCostCentresOn" ng-model="settingFrm.ISCostCentresOn" formControlName="ISCostCentresOn" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Interest On
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsInterestOn" ng-model="settingFrm.IsInterestOn" formControlName="IsInterestOn" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Allow InMobile
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="AllowInMobile" ng-model="settingFrm.AllowInMobile" formControlName="AllowInMobile" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Condensed
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsCondensed" ng-model="settingFrm.IsCondensed" formControlName="IsCondensed" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Affects Stock
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="AffectsStock" ng-model="settingFrm.AffectsStock"  formControlName="AffectsStock" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                For PayRoll
                                            </label>
                                                <input type="checkbox" class="largerCheckbox"  name="ForPayRoll" ng-model="settingFrm.ForPayRoll" formControlName="ForPayRoll" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Interest On Bill Wise
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="InterestOnBillWise" ng-model="settingFrm.InterestOnBillWise" formControlName="InterestOnBillWise" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                OverRide Interest
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="OverRideInterest" ng-model="settingFrm.OverRideInterest" formControlName="OverRideInterest" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                OverRide ADV Interest
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="OverRideADVInterest" ng-model="settingFrm.OverRideADVInterest" formControlName="OverRideADVInterest" />
                                 </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Use For VAT
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="UseForVat" ng-model="settingFrm.UseForVat" formControlName="UseForVat" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Ignore TDS Exempt
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IgnoreTDSExempt" ng-model="settingFrm.IgnoreTDSExempt" formControlName="IgnoreTDSExempt" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Is TCS Applicable
                                            </label>
                                                <input type="checkbox" class="largerCheckbox"  name="IsTCSApplicable" ng-model="settingFrm.IsTCSApplicable" formControlName="IsTCSApplicable" />
                                  </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Is TDS Applicable
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsTDSApplicable" ng-model="settingFrm.IsTDSApplicable"  formControlName="IsTDSApplicable" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Is FBT Applicable
                                            </label>
                                            <input type="checkbox" class="largerCheckbox" name="IsFBTApplicable" ng-model="settingFrm.IsFBTApplicable"  formControlName="IsFBTApplicable" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Is GST Applicable
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsGSTApplicable" ng-model="settingFrm.IsGSTApplicable"  formControlName="IsGSTApplicable" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Show In PaySlip
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="ShowInPaySlip" ng-model="settingFrm.ShowInPaySlip"  formControlName="ShowInPaySlip" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Use For Gratuity
                                            </label>
                                                <input type="checkbox" class="largerCheckbox"  name="UseForGratuity" ng-model="settingFrm.UseForGratuity" formControlName="UseForGratuity" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                For ServiceTax
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="ForServiceTax" ng-model="settingFrm.ForServiceTax" formControlName="ForServiceTax" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label col-md-10">
                                                Is InputCredit
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsInputCredit" ng-model="settingFrm.IsInputCredit" formControlName="IsInputCredit" />
                                    </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Is Exempte
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsExempte" ng-model="settingFrm.IsExempte"  formControlName="IsExempte" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                            <label class="control-label  col-md-10">
                                                Is Abatement Applicable
                                            </label>
                                            <input type="checkbox" class="largerCheckbox"  name="IsAbatementApplicable" ng-model="settingFrm.IsAbatementApplicable"  formControlName="IsAbatementApplicable" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                    <label class="control-label  col-md-10">
                                        TDS Deductee Is SpecialRate
                                    </label>
                                    <input type="checkbox" class="largerCheckbox"  name="TDSDeducteeIsSpecialRate" ng-model="settingFrm.TDSDeducteeIsSpecialRate"
                                                       formControlName="TDSDeducteeIsSpecialRate" />
                                   </div>
                                    <div class="col-md-4 styleinput">
                                     <label class="control-label col-md-10">
                                                Audited
                                     </label>
                                      <input type="checkbox" class="largerCheckbox"  name="Audited" ng-model="settingFrm.Audited" formControlName="Audited" />
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row footermodal">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger pull-right" [disabled]="buttonDisabled" (click)="reset(); modalRef.hide();">Cancel</button>
                        </div>
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-2">
                            <button type="submit" [disabled]="accountLedgerFrm.invalid" class="btn btn-success pull-left">{{modalBtnTitle}} </button>
                        </div>
                    </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>
