label {
    margin-top: 7px;
}

input, select, textarea {
    max-width: 100%;
    width: 100%;
}

.text-danger {
    font-size: smaller;
    margin-top: 3px;
}
.padtop{
    padding-top:5px;
    padding-left: 50px!important;
}
.secondrow{
            margin-top:10px;
            padding-bottom: 11px;
}
.firstrow{
          margin-bottom:13px;
}
.designmyrow{
    color:#fff;
    background-color: #287a46;
    margin-left:3px;
    margin-right:3px;
}
.designmysecondrow{
         padding-top:20px;
         margin-left:3px;
         margin-right:3px;
}
.designmythirdrow{
         margin-top:20px;
}